/* General styling */

@use "sass:map";

@font-face {
    font-family: 'Francescas Handwriting';
    src: url('/static/assets/fonts/Francescas-handwriting.ttf');
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    color: #4C008A;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.2;
    margin: 0.5em 0;
    color: #4C008A;
}

h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: #EEE7F1;
    opacity: 0;
    transform: translateY(30px); /* Starter lidt nedenunder sin position */
    animation: fadeLineUp 1.5s ease-out forwards; /* Animation med både fade og linjering */
}

h2 {
    font-size: 2.3rem;
    font-weight: 300;
    opacity: 0;
    transform: translateY(30px); /* Starter lidt nedenunder sin position */
    animation: fadeLineUp 1.5s ease-out forwards; /* Animation med både fade og linjering */
}

h3 {
    opacity: 0;
    transform: translateY(30px); /* Starter lidt nedenunder sin position */
    animation: fadeLineUp 1.5s ease-out forwards; /* Animation med både fade og linjering */
}

h3, {
    font-size: 1.8rem;
    font-weight: 200;
}

h4, h5, h6 {
    font-size: 1.2rem;
    font-weight: 200;
}

p {
    animation: fadeIn 2s ease-in;
}


.shop-button {
    display: block;
    height: 40px;
    width: 150px;
    padding: 10px 20px;
    color: #EEE7F1;
    background-color: #7A5190;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Raleway', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in;
    box-shadow: 0 4px 6px rgba(76, 0, 138, 0.5);
}

.shop-button:hover {
    background-color: #4C008A;
}


.view-button {
    display: block;
    height: 20px;
    width: 220px;
    padding: 10px 20px;
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #EEE7F1;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Raleway', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
}

.view-button:hover {
    background-color: #EEE7F1;
}


/* Navbar styling */

.navbar {
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.7s ease;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 75px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.7s ease;
}

.navbar.scrolled,
.navbar:hover {
    background-color: rgba(76, 0, 138, 0.5);
}

.navbar .dropdown {
    position: relative;
    display: inline-block;
    text-align: center; /* Sørger for, at dropdown-indholdet er centreret */
}

.navbar .dropdown .dropbtn {
    position: relative;
    margin-right: 1rem;
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
}


.navbar .dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Placerer dropdown-indholdet lige under overkategorien */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    min-width: 120px; /* Sikrer en minimumsbredde for dropdown-indholdet */
}

.navbar .dropdown-content a {
    color: #EEE7F1;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 0.8rem;
    background-color: #7A5190;
    z-index: 2;
}

.navbar .dropdown-content a:hover {
    background-color: rgba(76, 0, 138);
}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}

.navbar-left a {
    position: relative;
    margin-right: 1rem;
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
}


.navbar-left a:not(.logo-link)::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  background-color: #EEE7F1;
  bottom: 0px; /* Adjust this value if needed */
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
  z-index: 5;
}

.navbar-left a:not(.logo-link):hover::before {
    transform-origin: left;
    transform: scaleX(1);
    z-index: 5;
}

.logo {
    height: 70px;
    vertical-align: middle;
}

.navbar-left {
    flex: 1;
    text-align: left;
}

.navbar-right {
    flex: 1;
    text-align: right;
}

.navbar-center {
    flex: 1;
    text-align: center;
}

.company-name {
    height: 100px;
    max-width: 100%;
}

.navbar-right a {
    margin-left: 1rem;
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
}

#language {
    margin-left: 1rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-right a:hover {
    color: #7A5190;
}


.icon {
    height: 35px;
    vertical-align: middle;
}

.language-selector {
    margin-left: 1rem;
}

.language-selector select {
    background-color: #444;
    color: white;
    border: none;
    padding: 0.4rem;
    border-radius: 4px;
    cursor: pointer;
}

.language-selector select:hover {
    background-color: #555;
}

/* Hero banner styling */

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    filter: brightness(50%);
}


.hero-text {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 300px;
      overflow: hidden;
      }

.hero-header {
      position: relative;
      color: white;
      max-width: 800px;
      z-index: 2;
      opacity: 0;
      transform: translateY(30px);
      animation: fadeLineUp 1s ease-out forwards;
}


@keyframes fadeLineUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-button {
    display: inline-block;
    height: 15px;
    width: 80px;
    padding: 10px 20px;
    font-size: 0.8rem;
    color: #EEE7F1;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #EEE7F1;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    animation: fadeIn 2s ease-in;
    position: relative;
    z-index: 2;
}

.hero-button:hover {
    background-color: rgba(76, 0, 138, 0.5);
    color: #EEE7F1;
    border-color: #EEE7F1;
}


/* Text block styling */

.text-block {
    position: relative;
    text-align: center;
    animation: fadeIn 3s forwards;
    transform: translateY(20px);
    display: flex;  /* Tilføj denne linje */
    justify-content: center;  /* Tilføj denne linje */
    align-items: center;  /* Tilføj denne linje */
}

.text-container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;  /* Tilføj denne linje */
    justify-content: center;
    align-items: center;  /* Tilføj denne linje */
}

.text-block p {
    line-height: 1.6;
}

.icon {
    height: 35px;
    vertical-align: middle;
}

.language-selector {
    margin-left: 1rem;
}

.language-selector select {
    background-color: #444;
    color: white;
    border: none;
    padding: 0.4rem;
    border-radius: 4px;
    cursor: pointer;
}

.language-selector select:hover {
    background-color: #555;
}

/* Hero banner styling */

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    filter: brightness(50%);
}

/* Seasonal carousel styling */

.carousel-container {
    width: 70%; /* Adjust the width of the container */
    border-radius: 50px; /* Adjust the radius as needed */
    overflow: hidden; /* Ensures child elements respect the border radius */
    box-shadow: 0 4px 6px rgba(76, 0, 138, 0.5); /* Optional: Add a shadow for better visual effect */
    margin: 150px auto; /* Center the container */
}

$menu-width: 350px;
$scene-width: 200px;
$scene-height: 400px;

$sections: winter, spring, autumn, summer;

$pictograms: (
  winter: url('/static/assets/img/Winter.png'),
  spring: url('/static/assets/img/Spring.png'),
  autumn: url('/static/assets/img/Autumn.png'),
  summer: url('/static/assets/img/Summer.png')
);

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#scene {
    display: flex;
    height: 600px;
    width: 100%; /* Keep the carousel full width within the container */
    overflow: visible;
    position: relative;
    box-shadow: 0 4px 6px rgba(76, 0, 138, 0.5);
    margin: 0 auto;
}

#left-zone {
    width: 30%;
    background-color: #EEE7F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#middle-border {
    width: 1px;
    background-color: #4C008A;
}

#right-zone {
    width: 70%;
    background-color: #EEE7F1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: visible;
    z-index: 1;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

.item {
    position: relative;
}

input[type="radio"] {
    display: none;
}

label {
    display: block;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: rgba(122, 81, 144, 0.1);
    }
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s;
}

input[type="radio"]:checked ~ #right-zone .content {
    opacity: 0;
    visibility: hidden;
    animation: fadeOut 1s forwards;
}


@each $season in (winter, spring, autumn, summer) {
    ##{$season}:checked ~ #right-zone .content[data-season="#{$season}"] {
        opacity: 1;
        visibility: visible;
        animation: fadeIn 1s forwards;
    }
}

input[type="radio"]:checked + label {
    background-color: rgba(76, 0, 138, 0.3);
}

.carousel-image {
    width: 400px;
    height: 400px;
    object-fit: contain;
    margin-bottom: 20px;
    z-index: 10;
    display: block;
}

.list .item .icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    object-fit: scale-down;
}

.list .item:nth-child(1) .icon {
    background-image: url('/static/assets/img/Winter.png');
}

.list .item:nth-child(2) .icon {
    background-image: url('/static/assets/img/Spring.png');
}

.list .item:nth-child(3) .icon {
    background-image: url('/static/assets/img/Autumn.png');
}

.list .item:nth-child(4) .icon {
    background-image: url('/static/assets/img/Summer.png');
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(76, 0, 138, 0.7);
    color: #EEE7F1;
    border: none;
    padding: 9px 13px;
    cursor: pointer;
    border-radius: 100px;
    z-index: 10;
    transition: background-color 0.3s;
}

.carousel-button:hover {
    background-color: rgba(76, 0, 138, 0.9);
}

.carousel-button.prev {
    left: 31%; /* Position the previous button on the left */
}

.carousel-button.next {
    right: 1%; /* Position the next button on the right */
}

.list .item .content {
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.list .item .content:not(:first-child) {
    opacity: 0;
    visibility: hidden;
}

/* Picture section styling */

.picture-section {
    position: relative;
    width: 100%;
    max-height: 800px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-inner {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    gap: 60px;
}

.picture-img {
    flex: 0 0 60%;
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50px;
    border: 2px solid #7A5190;
    box-shadow: 0 4px 6px rgba(76, 0, 138, 0.5);
}

.picture-text {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: left;
}

.picture-section.reverse .picture-inner {
    flex-direction: row-reverse !important; /* Skifter rækkefølgen */
}

.picture-text button {
    display: block;
    margin-top: 20px;
    width: 110px;
    margin-left: 0;
}

@media (max-width: 768px) {
    .picture-inner {
        flex-direction: column;
    }

    .picture-img, .picture-text {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .picture-img {
        margin-bottom: 20px;
    }
}

/* Contact form styling */

.contact-form-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1;
}

.contact-container {
    position: relative;
    max-width: 400px;
    text-align: center;
    justify-content: center;
    margin: 0;
    border-radius: 50px;
    background-color: rgba(76, 0, 138, 0.5);
    border: 2px solid #7A5190; /* Lys grå kant */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Subtil skygge */
    padding: 60px; /* Indvendig margin */
    text-align: center; /* Centrer tekst og billeder */
}


.contact-container h3 {
    margin-bottom: 10px;
    color: #EEE7F1;
}

.contact-container p {
    margin-bottom: 20px;
    color: #EEE7F1;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    margin-bottom: 5px;
    color: #EEE7F1;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #4C008A;
    border-radius: 20px;
    font-family: 'Raleway', sans-serif;
    background-color: #EEE7F1;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #7A5190; /* Ændr farvekoden til den ønskede farve */
}

.form-group textarea {
    resize: none;
}

.submit-button {
    height: 40px;
    width: 150px;
    padding: 10px 20px;
    color: #EEE7F1;
    background-color: #7A5190;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Raleway', sans-serif;
}

.submit-button:hover {
    background-color: #4C008A;
}

.text-block {
    padding: 50px 0;
    background-color: #FFFFFF;
}


.contact-image {
    width: 50%;
    display: block;
    margin: 0 auto;
    height: auto;
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(76, 0, 138, 0.5);
    background-color: #EEE7F1;
}

@media (max-width: 768px) {
    .text-container {
        flex-direction: column;
    }

    .text-content {
        padding-right: 0;
        padding-bottom: 30px;
    }
}

/* Slider styling */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    padding-bottom: 100px;
    justify-items: center;
}

.grid-item {
    position: relative;
    border-radius: 50px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(76, 0, 138, 0.5);
    overflow: hidden;
    padding: 40px;
    width: 100%;
    max-width: 400px;
}

.grid-image {
    width: 100%;
    height: auto;
    max-height: 400px;
    border-radius: 40px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}


.grid-content p {
    font-size: 0.9rem;
}

@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 15px;
        padding: 15px;
    }

    .grid-item {
        border-radius: 30px;
        padding: 8px;
    }

    .grid-image {
        border-radius: 25px;
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item {
        max-width: 100%;
    }
}

/* Brand Section Styling */
.brand-section {
    position: relative;
    background: linear-gradient(to bottom, rgba(76, 0, 138, 0.3) 50%, rgba(122, 81, 144, 0.3) 50%); /* Halvdelene af baggrunden */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 20px;
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
    height: 180vh; /* Skalerer sektionen baseret på viewport-højden */
}

.brand-section .brand-content {
    max-width: 800px;
    z-index: 5; /* Sikrer at teksten ligger ovenpå billedet */
    padding: 20px;
}

.brand-section h1 {
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-size: 3rem; /* Størrelse på overskrift */
    color: #4C008A;
}

.brand-section p {
    margin-bottom: 40px;
    font-size: 1.25rem; /* Størrelse på tekst */
}

.brand-section .btn {
    background-color: #EEE7F1; /* Farven på knappen */
    color: #7A5190; /* Tekstfarve på knappen */
    padding: 15px 40px;
    font-size: 1.25rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.brand-section .btn:hover {
    background-color: #7A5190;
    color: #EEE7F1;
}

.brand-section .brand-image {
    position: absolute;
    top: 50%; /* Løft billedet til midten af sektionen */
    left: 50%; /* Løft billedet til midten af sektionen */
    width: 55%; /* Juster bredden */
    height: 100%; /* Bevar billedets proportioner */
    max-height: 70%; /* Sætter max-højde for at undgå, at billedet bliver for stort */
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: #EEE7F1;
    padding: 60px 60px 60px 60px;
}

/* Webshop styling */

/* Generel styling for butikken */
.shop-container {
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}

/* Kollektioner */
.collection {
    margin-bottom: 40px;
    border-bottom: 2px solid #7A5190;
    padding-bottom: 20px;
}

.collection-title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 10px;
}

.collection-description {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20%; /* Tilføjer luft i siderne */
}

.product-item {
    flex: 1 1 100px; /* Gør produktet fleksibelt og sætter en minimumsbredde */
    margin: 10px;
    max-width: 300px; /* Sætter en maksimal bredde for hvert produkt */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 50px;
    background-color: #fff;
    text-align: center;
}

.product-image {
    max-width: 100%;
    height: auto;
}

.add-to-cart {
    display: block;
    height: 40px;
    width: 150px;
    padding: 10px 20px;
    color: #EEE7F1;
    background-color: #7A5190;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Raleway', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in;
    box-shadow: 0 4px 6px rgba(76, 0, 138, 0.5);
}

.add-to-cart:hover {
    background-color: #4C008A;
}

.filter-options {
    margin: 20px 0;
    padding: 10px;
    background-color: #7A5190;
    border-radius: 5px;
    text-align: center;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Tilføjer mellemrum mellem filtreringsmulighederne */
}

.filter-container label {
    color: #EEE7F1;
    margin-right: 5px;
}

.filter-container select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.filter-container select:hover {
    border-color: #888;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .brand-section {
        height: auto; /* Justerer højden til indholdet på små skærme */
        padding: 0 10px;
    }

    .brand-section h1 {
        font-size: 2rem; /* Mindre font-størrelse til mobil */
        margin-bottom: 15px;
    }

    .brand-section p {
        font-size: 1.1rem; /* Mindre tekst til mobil */
        margin-bottom: 20px;
    }

    .brand-section .brand-image {
        width: 70%; /* Øger billedets bredde på små skærme */
        max-height: 60%; /* Justerer billedets højde */
    }
}

@media (max-width: 480px) {
    .brand-section h1 {
        font-size: 1.5rem; /* Endnu mindre font-størrelse på meget små skærme */
    }

    .brand-section p {
        font-size: 1rem;
    }

    .brand-section .brand-image {
        width: 90%; /* Billedet fylder mere på meget små skærme */
        max-height: 50%; /* Justerer billedets højde */
    }
}


/* Footer styling */

.footer {
    background-color: #EEE7F1;
    color: #7A5190;
    text-align: center;
    padding: 2rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 1rem;
}

.footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 0.5rem 0;
}

.footer-section ul li a {
    color: #7A5190;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #4A2C5C;
}

.footer-socials {
    list-style: none;
    padding: 0;
    display: flex; /* Use flexbox to align items in a row */
    justify-content: center; /* Center the icons horizontally */
    align-items: center; /* Center the icons vertically */
    gap: 10px; /* Add space between the icons */
}

.footer-socials li {
    margin: 0; /* Remove default margin */
}

.social-icon {
    width: 100%; /* Adjust the size as needed */
    height: 100%;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

/* Media size adaptation */

/* Mobiltelefoner (op til 600px) */
@media (max-width: 600px) {
    body {
        font-size: 0.8rem;
    }

    .navbar {
        height: 60px;
    }

    .hero {
        height: 80vh;
    }

    .shop-button, .view-button {
        width: 100px;
        padding: 8px 16px;
    }

    .text-block {
        padding: 1rem;
        height: auto;
    }

    .carousel-body {
        padding: 50px;
    }
}

/* Tablets (op til 768px) */
@media (max-width: 768px) {
    .navbar {
        height: 70px;
    }

    .hero {
        height: 90vh;
    }

    .shop-button, .view-button {
        width: 120px;
        padding: 9px 18px;
    }

    .text-block {
        padding: 1rem;
        height: auto;
    }

    .carousel-body {
        padding: 75px;
    }
}

/* Desktops og større skærme */
@media (min-width: 769px) {
    .navbar {
        height: 75px;
    }

    .hero {
        height: 100vh;
    }

    .shop-button, .view-button {
        width: 150px;
        padding: 10px 20px;
    }

    .text-block {
        padding: 2rem;
        height: 400px;
    }

    .carousel-body {
        padding: 100px;
    }
}

#cookie-popup {
    z-index: 15;
    display: none;
    text-align: center;
    background-color: #7A5190;
    position: fixed;
    border-radius: 50px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%; /* Adjust the width as needed */
    height: 10%;
    color: white;
    padding: 10px 0;
    text-align: center;
}

#cookie-popup a {
    color: #EEE7F1;
    text-decoration: none;
}
#cookie-popup a:hover {
    text-decoration: underline;
}

#accept-cookies {
    display: block;
    height: 40px;
    width: 150px;
    padding: 10px 20px;
    color: #EEE7F1;
    background-color: #4C008A;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Raleway', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in;
    box-shadow: 0 4px 6px rgba(76, 0, 138, 0.5);
}

.cart-container {
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    background-color: #F8F9FA;
}

.cart-items {
    list-style-type: none;
    padding: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.cart-item-image {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.cart-item-details {
    flex-grow: 1;
}

.cart-summary {
    margin-top: 20px;
    text-align: right;
}

.checkout-button, .continue-shopping-button {
    display: inline-block;
    padding: 10px 20px;
    color: #FFF;
    background-color: #7A5190;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 10px;
}

.checkout-button:hover, .continue-shopping-button:hover {
    background-color: #5A3A70;
}

.flash-messages {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.alert {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}