{% extends "base.html" %}

{% block title %}Responsibility Comfort{% endblock %}

{% block content %}

    <section class="hero">
        <div class="hero-inner">
            <img src="/static/assets/img/Logo_Hero.png" alt="Hero Image" class="hero-img">
        </div>
    </section>

    <div class="admin-header">
        <h2>Responsibility Comfort</h2>
    </div>

    <nav class="admin-nav">
        <ul>
            <li><a href="{{ url_for('admin_dashboard') }}" class="admin-nav-link">Admin Dashboard</a></li>
            <li><a href="{{ url_for('admin_brand_purpose') }}" class="admin-nav-link">Brand Purpose</a></li>
            <li><a href="{{ url_for('admin_brand_community') }}" class="admin-nav-link">Brand Community</a></li>
            <li><a href="{{ url_for('admin_responsibility_comfort') }}" class="admin-nav-link">Responsibility Comfort</a></li>
            <li><a href="{{ url_for('admin_responsibility_eco_consciousness') }}" class="admin-nav-link">Eco Consciousness</a></li>
            <li><a href="{{ url_for('admin_responsibility_self_defined_femininity') }}" class="admin-nav-link">Self-defined Femininity</a></li>
        </ul>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}



<form method="POST" action="{{ url_for('admin_responsibility_comfort') }}" class="admin-form">
    <h2>Hero Section</h2>
    <label for="hero_image_select">Select Hero Image:</label>
    <select id="hero_image_select" name="hero_image_select">
        {% for image in images %}
            {% if content['hero_section_responsibility_comfort']['image'] == image %}
                <option value="{{ image }}" selected>{{ image }}</option>
            {% else %}
                <option value="{{ image }}">{{ image }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <label for="hero_title">Hero Title:</label>
    <input type="text" id="hero_title" name="hero_title" value="{{ content['hero_section_responsibility_comfort']['title'] }}" class="form-input">

    <button type="submit" class="form-button">Update Hero Section</button>
</form>

    <!-- Text Section 1 -->
<form method="POST" action="{{ url_for('admin_responsibility_comfort') }}" class="admin-form">
    <h2>Text Block</h2>
    <label for="text_section_title">Title:</label>
    <input type="text" id="text_section_title" name="text_section_title" value="{{ content['text_section_responsibility_comfort']['title'] }}" class="form-input">

    <label for="text_section_text">Text:</label>
    <textarea id="text_section_text" name="text_section_text" class="form-textarea">{{ content['text_section_responsibility_comfort']['text'] }}</textarea>

    <button type="submit" class="form-button">Update Text Block 1</button>
</form>

    <!-- Picture Section 1 -->
<form method="POST" action="{{ url_for('admin_responsibility_comfort') }}" class="admin-form">
    <h2>Picture Section 1</h2>
    <label for="picture_section1_image_select">Select Picture Image:</label>
    <select id="picture_section1_image_select" name="picture_section1_image_select" class="form-input">
        {% for image in images %}
            {% if content['picture_section_text1_responsibility_comfort']['image'] == image %}
                <option value="{{ image }}" selected>{{ image }}</option>
            {% else %}
                <option value="{{ image }}">{{ image }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <label for="picture_section1_title">Title:</label>
    <input type="text" id="picture_section1_title" name="picture_section1_title" value="{{ content['picture_section_text1_responsibility_comfort']['title'] }}" class="form-input">

    <label for="picture_section1_text">Text:</label>
    <textarea id="picture_section1_text" name="picture_section1_text" class="form-textarea">{{ content['picture_section_text1_responsibility_comfort']['text'] }}</textarea>

    <button type="submit" class="form-button">Update Picture Section</button>
</form>

<form method="POST" action="{{ url_for('admin_responsibility_comfort') }}" class="admin-form">
    <!-- Picture Section -->
    <h2>Picture Section 2</h2>
    <label for="picture_section2_image_select">Select Picture Image:</label>
    <select id="picture_section2_image_select" name="picture_section2_image_select" class="form-input">
        {% for image in images %}
            {% if content['picture_section_text2_responsibility_comfort']['image'] == image %}
                <option value="{{ image }}" selected>{{ image }}</option>
            {% else %}
                <option value="{{ image }}">{{ image }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <label for="picture_section2_title">Title:</label>
    <input type="text" id="picture_section2_title" name="picture_section2_title" value="{{ content['picture_section_text2_responsibility_comfort']['title'] }}" class="form-input">

    <label for="picture_section2_text">Text:</label>
    <textarea id="picture_section2_text" name="picture_section2_text" class="form-textarea">{{ content['picture_section_text2_responsibility_comfort']['text'] }}</textarea>

    <button type="submit" class="form-button">Update Picture Section</button>
</form>

<form method="POST" action="{{ url_for('admin_responsibility_comfort') }}" class="admin-form">
    <!-- Picture Section -->
    <h2>Picture Section 3</h2>
    <label for="picture_section3_image_select">Select Picture Image:</label>
    <select id="picture_section3_image_select" name="picture_section3_image_select" class="form-input">
        {% for image in images %}
            {% if content['picture_section_text2_responsibility_comfort']['image'] == image %}
                <option value="{{ image }}" selected>{{ image }}</option>
            {% else %}
                <option value="{{ image }}">{{ image }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <label for="picture_section3_title">Title:</label>
    <input type="text" id="picture_section3_title" name="picture_section3_title" value="{{ content['picture_section_text2_responsibility_comfort']['title'] }}" class="form-input">

    <label for="picture_section3_text">Text:</label>
    <textarea id="picture_section3_text" name="picture_section3_text" class="form-textarea">{{ content['picture_section_text2_responsibility_comfort']['text'] }}</textarea>

    <button type="submit" class="form-button">Update Picture Section</button>
</form>

<form method="POST" action="{{ url_for('admin_responsibility_comfort') }}" class="admin-form" enctype="multipart/form-data">

    <h2>Page Metadata</h2>
    <label for="page_title">Page Title:</label>
    <input type="text" id="page_title" name="page_title" value="{{ content['metadata_responsibility_comfort']['title'] }}" class="form-input">
    <label for="meta_description">Meta Description:</label>
    <textarea id="meta_description" name="meta_description" class="form-textarea">{{ content['metadata_responsibility_comfort']['meta_description'] }}</textarea>
    <button type="submit" class="form-button">Update Metadata</button>
</form>

<!-- Add these fields for Open Graph metadata -->
<form method="POST" action="{{ url_for('admin_responsibility_comfort') }}" class="admin-form">
    <h2>Open Graph Metadata</h2>
    <label for="og_title">OG Title:</label>
    <input type="text" id="og_title" name="og_title" value="{{ content['opengraph_responsibility_comfort']['og_title'] }}" class="form-input">
    <label for="og_description">OG Description:</label>
    <textarea id="og_description" name="og_description" class="form-textarea">{{ content['opengraph_responsibility_comfort']['og_description'] }}</textarea>
    <button type="submit" class="form-button">Update Open Graph Metadata</button>
</form>

{% endblock %}