{% extends "base.html" %}

{% block title %}Home - Sustainable Fashion{% endblock %}

{% block content %}

    <section class="hero">
        <div class="hero-inner">
            <img src="/static/assets/img/Logo_Hero.png" alt="Hero Image" class="hero-img">
        </div>
    </section>

    <div class="admin-dashboard-container">
        <h2>Welcome, admin</h2>
        <p>Hi, {{ current_user.username }}! You are logged in as administrator.</p>
        <a href="{{ url_for('logout') }}">Log out</a>
        <a href="{{ url_for('admin_dashboard') }}">Go to admin dashboard</a>
    </div>

{% endblock %}