<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='assets/icons/favicon.png') }}" type="image/x-icon">
</head>
<body>
    <div id="cookie-popup">
        <p>We use cookies in order to improve your experience on our website. By continuous use of the site you accept our <a href="/privacy-policy">cookie policiy.</a>.</p>
        <button id="accept-cookies">Accept</button>
    </div>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-left">
            <a href="{{ url_for('home') }}" class="logo-link">
                <img src="{{ url_for('static', filename='assets/img/Logo.png') }}" alt="Logo" class="logo">
            </a>
            <div class="dropdown">
                <a href="{{ url_for('shop') }}">Shop</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('shop') }}">Go to shop</a>
                </div>
            </div>
            <div class="dropdown">
                <span class="dropbtn">Brand</span>
                <div class="dropdown-content">
                    <a href="{{ url_for('brand_community') }}">Community</a>
                    <a href="{{ url_for('brand_purpose') }}">Purpose</a>
                </div>
            </div>
            <div class="dropdown">
                <span class="dropbtn">Responsibility</span>
                <div class="dropdown-content">
                    <a href="{{ url_for('responsibility_comfort') }}">Comfort</a>
                    <a href="{{ url_for('responsibility_self_defined_femininity') }}">Self-defined Feminity</a>
                    <a href="{{ url_for('responsibility_eco_consciousness') }}">Eco-consciousness</a>
                </div>
            </div>
            <a href="{{ url_for('contact') }}">Contact</a>
        </div>

        <button class="hamburger-menu" id="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="mobile-menu" id="mobile-menu">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('shop') }}">Shop</a>
            <a href="{{ url_for('brand_community') }}">Community</a>
            <a href="{{ url_for('brand_purpose') }}">Purpose</a>
            <a href="{{ url_for('responsibility_comfort') }}">Comfort</a>
            <a href="{{ url_for('responsibility_self_defined_femininity') }}">Self-defined Feminity</a>
            <a href="{{ url_for('responsibility_eco_consciousness') }}">Eco-consciousness</a>
            <a href="{{ url_for('contact') }}">Contact</a>
        </div>

        <div class="navbar-center">
            <div class="company-name-container">
                <img src="{{ url_for('static', filename='assets/img/Company_Name.png') }}" alt="Company Name" class="company-name">
            </div>
        </div>

        <div class="navbar-right">
            <a href="{{ url_for('cart') }}">
                <img src="{{ url_for('static', filename='assets/icons/cart.png') }}" alt="Shopping Cart" class="icon">
            </a>
        </div>

    </nav>


    <!-- Main Content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h3>Shopping</h3>
                <ul>
                    <li><a href="{{ url_for('shop') }}">Shop</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>About us</h3>
                <ul>
                    <li><a href="{{ url_for('brand_community') }}">Community</a></li>
                    <li><a href="{{ url_for('brand_purpose') }}">Purpose</a></li>
                    <li><a href="{{ url_for('responsibility_comfort') }}">Comfort</a></li>
                    <li><a href="{{ url_for('responsibility_self_defined_femininity') }}">Self-defined femininity</a></li>
                    <li><a href="{{ url_for('responsibility_eco_consciousness') }}">Eco-consciousness</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Help</h3>
                <ul>
                    <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                    <li><a href="{{ url_for('policies') }}">Policies</a></li>
                    <li><a href="#">Newsletter</a></li>
                    <li><a href="{{ url_for('certifications') }}">Certifications</a></li>
                    <li><a href="#">Blog (coming soon)</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Contact</h3>
                <ul>
                    <li><a href="#">info@carnelia.net</a></li>
                    <li><a href="#">+ 45 99 99 99 99</a></li>
                    <li><a href="#">Address</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h3>Socials</h3>
                <ul class="footer-socials">
                    <li>
                        <a href="#">
                            <img src="{{ url_for('static', filename='assets/icons/facebook.plum.png') }}" alt="Facebook" class="social-icon">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/carnelialingerie/" target="_blank" rel="noopener noreferrer">
                            <img src="{{ url_for('static', filename='assets/icons/instagram.plum.png') }}" alt="Instagram" class="social-icon">
                        </a>
                    </li>
                    <li>
                        <a href="https://carnelialingerie.substack.com/" target="_blank" rel="noopener noreferrer">
                            <img src="{{ url_for('static', filename='assets/icons/substack.png') }}" alt="Substack" class="social-icon">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p>&copy; <span id="year"></span> Carnelia. All rights reserved.</p>
    </footer>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
    document.getElementById('year').textContent = new Date().getFullYear();
    </script>

</body>
</html>
