{% extends "base.html" %}

{% set og_title = "Placeholder" %}
{% set og_description = "Placeholder." %}

{% block content %}


    <section class="hero">
        <div class="hero-inner">
            <img src="/static/assets/img/Carousel2.jpg" alt="Hero Image" class="hero-img">
            <div class="hero-text">
                <h1 class="hero-header">The Brand</h1>
                <a href="din-landingpage.html" class="hero-button">Explore</a>
            </div>
        </div>
    </section>
    <section class="text-block">
        <div class="text-container">
            <h2>To shift perspectives, <br>we must challenge the status quo.</h2>
            <p>
                Today, to achieve lingerie’s main purpose, a change is needed. At Carnelia, we call this change Modern Lingerie. This means fighting unrealistic beauty standards, unhealthy body images, and predetermined notions of femininity by returning to the true subject: the female body.
            </p>
            <p class="animated-text">Our first collection, The Four Seasons consists of 4 sets: Spring, Summer, Autumn, and Winter. The idea behind the collection came from the similarities between the changes of the body and the changes of the seasons.</p>
        </div>
    </section>



{% endblock %}