{% extends "base.html" %}

{% block title %}Brand Community{% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-inner">
            <img src="/static/assets/img/Community_Hero.jpg" alt="Hero Image" class="hero-img">
            <div class="hero-title">
                <h1 class="hero-header">In close contact with our community</h1>
            </div>
        </div>
    </section>
    <section class="text-block">
        <div class="text-container">
            <h3>At Carnelia people are our core value</h3>
            <p>
                We are a community, A space where people regain ownership over their own bodies.
                A reality where customers don’t have to settle for a product that doesn’t fully meet
                their needs, values, or self-definition. Carnelia is about choice. One’s only concern should be
                their personal preferences, knowing that the brand they’re investing in cares for their comfort, physical
                needs, and the planet we live on.
            </p>
        </div>
    </section>
    <section class="picture-section reverse">
        <div class="picture-inner">
            <img src="/static/assets/img/Roskilde_Community.jpg" alt="Picture Image" class="picture-img">
            <div class="picture-text">
                <h3>Roskilde Festival 2024</h3>
                <p>
                    Something about our meeting with our community at Roskilde Festival 2024.
                </p>
            </div>
        </div>
    </section>
    <section class="picture-section">
        <div class="picture-inner">
            <img src="/static/assets/img/Roskilde_Satisfaction.jpg" alt="Picture Image" class="picture-img">
            <div class="picture-text">
                <h3>Total satisfaction</h3>
                <p>
                    Positive reviews from our satisfied customers and from our community.
                </p>
            </div>
        </div>
    </section>
{% endblock %}