{% extends "base.html" %}

{% block title %}Home - Sustainable Fashion{% endblock %}

{% block content %}

    <section class="hero">
        <div class="hero-inner">
            <img src="/static/assets/img/Contact_Hero.jpg" alt="Hero Image" class="hero-img">
        </div>
    </section>
    <div class="image-container">
        <img src="/static/assets/img/Logo_Hero.png" alt="Contact Image" class="contact-image">
    </div>
    <section class="text-block">
        <div class="text-container">
            <div class="text-content">
                <h2>Our contact info</h2>
                <p>E-mail: info@carnelia.com</p>
                <p>Telephone: +45 99 99 99 99</p>
                <p>Address: Carnelia Road 45, Copenhagen 1000</p>
            </div>
        </div>
    </section>

{% endblock %}