{% extends "base.html" %}

{% block title %}Home - Sustainable Fashion{% endblock %}

{% block content %}

    <section class="hero">
        <div class="hero-inner">
            <img src="/static/assets/img/Logo_Hero.png" alt="Hero Image" class="hero-img">
        </div>
    </section>

    <form method="POST">
        <h2>Edit Hero Section</h2>

        <label for="hero_title">Hero Title:</label>
        <input type="text" name="hero_title" value="{{ content['hero_section']['title'] }}" required>

        <label for="hero_image">Hero Image URL:</label>
        <input type="text" name="hero_image" value="{{ content['hero_section']['image'] }}" required>

        <label for="hero_button_text">Button Text:</label>
        <input type="text" name="hero_button_text" value="{{ content['hero_section']['button_text'] }}" required>

        <button type="submit">Save Changes</button>
    </form>


{% endblock %}