{% extends "base.html" %}

{% block title %}Carnelia - Modern and eco-conscious lingerie{% endblock %}

{% block content %}

    <section class="hero">
        <div class="hero-inner">
            <img src="/static/assets/img/Logo_Hero.png" alt="Hero Image" class="hero-img">
        </div>
    </section>
    <section class="policies-content">
        <h2>Cookie Policy</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices tristique turpis. Duis eget neque diam. Aenean tincidunt pretium urna in tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum auctor nisl vel elit ullamcorper, quis tristique arcu posuere. Aenean efficitur est at cursus dignissim. Aenean justo felis, fermentum et libero dapibus, accumsan euismod libero. Sed egestas risus ac malesuada facilisis. Nullam condimentum blandit auctor. Quisque vulputate suscipit risus non finibus.

Suspendisse vulputate purus et sem molestie facilisis. Cras eu lectus ut neque dictum dapibus. Aliquam id dictum enim, eleifend semper leo. Vestibulum quam orci, feugiat a elementum sed, fringilla eu erat. Quisque euismod purus nec gravida volutpat. Maecenas sit amet libero in risus feugiat pretium. Morbi vitae erat at nulla iaculis cursus ultricies in turpis. Suspendisse lacinia urna at lorem elementum consectetur. Maecenas blandit pulvinar arcu, sed maximus enim consectetur sed. Donec semper sodales lectus in dignissim. Sed viverra dui dolor, eu porta ante consectetur quis. Nulla molestie nulla est, a laoreet odio elementum at. Donec eget vehicula nulla.

Nulla non mi sodales, consectetur massa a, tincidunt nibh. Quisque feugiat sodales orci, quis lacinia lacus. Suspendisse eget ullamcorper nibh, non consectetur velit. Integer vel ex velit. Nunc quam orci, auctor vel mollis vitae, cursus id enim. Nunc et feugiat nisl, a malesuada diam. Aenean at lorem varius, tincidunt eros sed, gravida ex.

Fusce vulputate, urna vel placerat pulvinar, nulla nisi rutrum mi, quis mollis ligula est eget elit. Vivamus semper feugiat nibh in rhoncus. Nulla sagittis, libero sit amet dapibus mattis, tortor mi consequat libero, vel scelerisque sapien ligula eu ante. Nunc finibus venenatis erat, non ultricies turpis dapibus ut. Praesent fringilla lectus vitae ligula placerat volutpat. Proin cursus augue sit amet tempus cursus. Suspendisse vitae ligula ante. Pellentesque congue orci id justo auctor, sit amet tincidunt sem bibendum. Suspendisse ac finibus erat. Nullam convallis orci fermentum malesuada semper. Curabitur molestie porttitor nisi ut dapibus. Proin in ligula lectus. Ut fermentum sapien est, ac bibendum orci efficitur eu. In a volutpat tortor. Suspendisse dignissim lorem eu purus faucibus, in maximus arcu pulvinar. Sed sagittis erat vehicula malesuada ullamcorper.

Nullam lectus libero, viverra vitae hendrerit ut, molestie at augue. Sed sed augue ac diam cursus pretium et id metus. Mauris vel rutrum diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla laoreet erat, posuere scelerisque lectus iaculis non. Quisque imperdiet dictum tempus. Quisque vestibulum nisi sed venenatis ultrices. In dictum tortor eu venenatis vulputate. Mauris malesuada accumsan sapien quis pulvinar. Etiam condimentum urna eu neque fermentum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi ornare varius rutrum. Nam eleifend consectetur tempor. Donec id arcu aliquam, porttitor lorem nec, ultricies quam.

In quis odio ac urna aliquet laoreet. Curabitur eros arcu, semper at efficitur eu, mollis quis quam. Mauris nec iaculis dui. Sed odio elit, fringilla et imperdiet ut, pretium vel felis. Ut at dolor tincidunt ante scelerisque venenatis. Sed a elementum odio. Cras mi lectus, eleifend ut maximus efficitur, tincidunt sed lectus. Duis ac turpis nisi.
        </p>
    </section>

{% endblock %}