{% extends "base.html" %}

{% block title %}Self-Defined Feminity{% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-inner">
            <img src="/static/assets/img/Femininity_Hero.jpg" alt="Hero Image" class="hero-img">
            <div class="hero-title">
                <h1 class="hero-header">Making way for defining femininity</h1>
            </div>
        </div>
    </section>
    <section class="text-block">
        <div class="text-container">
            <h3>Your femininity is your choice</h3>
            <p>
                At the core of Carnelia is the idea that femininity can be self-defined.
                We at Carnelia believe, that every woman has the right to express her own version of femininity with her
                clothing and our goal is to provide all women with pieces that fit any aesthetic.
                The Seasons collection is a mix of very different aesthetics, mirroring the feeling the seasons give us
                and how we want to feel during the season.
                All of the pieces have been carefully crafted with comfort and fit in mind.
            </p>
        </div>
    </section>
    <section class="text-block">
        <div class="text-container">
            <h3>Your femininity is your choice</h3>
            <p>
                The Winter design is a soft, cozy piece. Perfect for wearing under comfortable
T-shirts or sweaters. With this piece comfort has been the main focal point.
The Spring piece is freshly colored, with a combination of a fresh spring green
and a beautiful lavender color. It reflects the soft colors we associate with
spring. The main fabric is recycled lycra, giving the piece a soft, smooth feel
and adds a stretchiness. The Green lace details are non-stretchy, recycled
polyester, providing extra support.
The Summer piece is boldly colored, it reflects the energy the summer brings
with it. The summer piece cna be worn under clothing or as a top during hot
days or nights.
The Autumn piece is soft and comfortable. The colors are inspired by the
warm and cozy feeling that approaches with the end of summer and colder
weather.
All of the fabrics we use for our pieces are recycled and certified. We care
about our community’s comfort just as much as we care about our planet.
If you’d like to know more about our responsibility initiatives, go to our page
Eco-Consciousness.
            </p>
        </div>
    </section>
{% endblock %}