{% extends "base.html" %}

{% block title %}{{ content['metadata_responsibility_self_defined_femininity']['title'] }}{% endblock %}

{% block meta_description %}
<meta name="description" content="{{ content['metadata_responsibility_self_defined_femininity']['meta_description'] }}">
{% endblock %}

{% set og_title = content['opengraph_responsibility_self_defined_femininity']['og_title'] %}
{% set og_description = content['opengraph_responsibility_self_defined_femininity']['og_description'] %}

{% block content %}
    <section class="hero">
        <div class="hero-inner">
            <img src="{{ content['hero_section_responsibility_self_defined_femininity']['image'] }}" alt="Hero Image" class="hero-img">
            <div class="hero-title">
                <h1 class="hero-header">{{ content['hero_section_responsibility_self_defined_femininity']['title'] }}</h1>
            </div>
        </div>
    </section>
    <section class="text-block">
        <div class="text-container">
            <h3>{{ content['text_section_responsibility_self_defined_femininity']['title'] }}</h3>
            <p>
                {{ content['text_section_responsibility_self_defined_femininity']['text'] }}
            </p>
        </div>
    </section>
    <section class="picture-section reverse">
        <div class="picture-inner">
            <img src="{{ content['picture_section_text1_responsibility_self_defined_femininity']['image'] }}" alt="Picture Image" class="picture-img">
            <div class="picture-text">
                <h3>{{ content['picture_section_text1_responsibility_self_defined_femininity']['title'] }}</h3>
                <p>
                    {{ content['picture_section_text1_responsibility_self_defined_femininity']['text'] }}
                </p>
            </div>
        </div>
    </section>
    <section class="picture-section">
        <div class="picture-inner">
            <img src="{{ content['picture_section_text2_responsibility_self_defined_femininity']['image'] }}" alt="Picture Image" class="picture-img">
            <div class="picture-text">
                <h3>{{ content['picture_section_text2_responsibility_self_defined_femininity']['title'] }}</h3>
                <p>
                    {{ content['picture_section_text2_responsibility_self_defined_femininity']['text'] }}
                </p>
            </div>
        </div>
    </section>
{% endblock %}