{% extends "base.html" %}

{% block title %}Carnelia - Modern and eco-conscious lingerie{% endblock %}

{% block content %}

    <section class="hero">
        <div class="hero-inner">
            <img src="/static/assets/img/Roskilde_Satisfaction.png" alt="Hero Image" class="hero-img">
            <div class="hero-title">
                <h1 class="hero-header">Carnelia's products</h1>
            </div>
        </div>
    </section>
    <section class="text-block">
        <div class="text-container">
            <div class="text-title">
                <h2 class="animated-header">Define and shop your look</h2>
            </div>
            <div class="text-content">
                <p class="animated-text">Insert product text. Insert product text. Insert product text. Insert product text. Insert product text. Insert product text.</p>
            </div>
        </div>
    </section>

    <section class="filter-options">
        <div class="filter-container">
            <label for="category">Category:</label>
            <select id="category" name="category">
                <option value="all">All</option>
                <option value="laptops">Laptops</option>
                <option value="smartphones">Smartphones</option>
                <option value="headphones">Headphones</option>
                <option value="smartwatches">Smartwatches</option>
            </select>

            <label for="price-range">Price Range:</label>
            <select id="price-range" name="price-range">
                <option value="all">All</option>
                <option value="0-100">$0 - $100</option>
                <option value="100-500">$100 - $500</option>
                <option value="500-1000">$500 - $1000</option>
            </select>
        </div>
    </section>

    <div class="shop-container">
    {% for collection_id, collection in collections.items() %}
    <div class="collection">
        <h2 class="collection-title">{{ collection.name }}</h2>
        <p class="collection-description">{{ collection.description }}</p>
        <div class="product-list">
            {% for product in collection.products %}
            <div class="product-item">
                <img src="{{ url_for('static', filename='assets/img/' ~ product.image) }}" alt="{{ product.name }}" class="product-image">
                <h4 class="product-name">{{ product.name }}</h4>
                <p class="product-description">{{ product.description }}</p>
                <p class="product-price">Price: ${{ product.price }}</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

</div>

{% endblock %}