{% extends "base.html" %}

{% block title %}Carnelia - Modern and eco-conscious lingerie{% endblock %}

{% block content %}

    <section class="hero">
        <div class="hero-inner">
            <img src="/static/assets/img/Roskilde_Satisfaction.png" alt="Hero Image" class="hero-img">
            <div class="hero-title">
                <h1 class="hero-header">Carnelia's products</h1>
            </div>
        </div>
    </section>
    <section class="text-block">
        <div class="text-container">
            <div class="text-title">
                <h2 class="animated-header">Define and shop your look</h2>
            </div>
            <div class="text-content">
                <p class="animated-text">Insert product text. Insert product text. Insert product text. Insert product text. Insert product text. Insert product text.</p>
            </div>
        </div>
    </section>

    <section class="filter-options">
        <div class="filter-container">
            <label for="category">Category:</label>
            <select id="category" name="category">
                <option value="all">All</option>
                <option value="laptops">Laptops</option>
                <option value="smartphones">Smartphones</option>
                <option value="headphones">Headphones</option>
                <option value="smartwatches">Smartwatches</option>
            </select>

            <label for="price-range">Price Range:</label>
            <select id="price-range" name="price-range">
                <option value="all">All</option>
                <option value="0-100">$0 - $100</option>
                <option value="100-500">$100 - $500</option>
                <option value="500-1000">$500 - $1000</option>
            </select>
        </div>
    </section>

    <div class="product-list">
    {% for product in products %}
    <div class="product-item">
        <img src="{{ url_for('static', filename='assets/img/' ~ product[3]) }}" alt="{{ product[0] }}" class="product-image">
        <h2>{{ product[0] }}</h2>
        <p>{{ product[1] }}</p>
        <p>Price: ${{ product[2] }}</p>
        <button class="add-to-cart">Add to Cart</button>
    </div>
    {% endfor %}
</div>

{% endblock %}